@use '../assets/sass/abstracts/functions' as *
@use '../assets/sass/abstracts/breakpoints' as *
.profile
  padding: rem(24)
  margin-top: rem(24)
  border-radius: rem(15)
  background-color: var(--profile-bg)
  box-shadow: 0 rem(16) rem(30) rem(-10) var(--shadow)
  display: flex
  flex-direction: column
  gap: rem(24)
  position: relative
  @include mq(lg)
    padding-left: rem(180)

  header
    display: flex
    gap: rem(20)

    .user-avatar
      max-width: rem(70)
      border-radius: 50%
      @include mq(sm)
        max-width: rem(117)
      @include mq(lg)
        position: absolute
        left: rem(24)

    .user-info
      @include mq(lg)
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between

      .user-name
        h1
          font-size: rem(16)
          font-weight: 700
          color: var(--bold-text-color)
          @include mq(sm)
            font-size: rem(26)

        .login
          font-size: rem(13)
          color: var(--btn-color)
          @include mq(sm)
            font-size: rem(16)

      .joined-date
        font-size: rem(13)
        color: var(--text-color-2)
        @include mq(sm)
          font-size: rem(15)

  .bio
    color: var(--text-color-2)
    font-size: rem(13)
    @include mq(sm)
      font-size: rem(15)

  .statistic
    display: flex
    text-align: center
    justify-content: space-between
    flex-wrap: wrap
    background-color: var(--bg-color)
    padding: rem(12) rem(32)
    border-radius: rem(10)
    @include mq(sm)
      text-align: start

    div
      p
        color: var(--text-color-2)
        font-size: rem(11)
        @include mq(sm)
          font-size: rem(13)

      span
        color: var(--bold-text-color)
        font-weight: 700
        font-size: rem(16)
        @include mq(sm)
          font-size: rem(22)

  .links
    @include mq(sm)
      display: grid
      grid-template-columns: 1fr 1fr

    div
      margin-bottom: rem(16)

      a
        color: var(--text-color-1)
        font-size: rem(15)

        img
          margin-right: rem(15)
          color: var(--text-color-2)

        &:hover
          text-decoration: underline

.not-available
  color: var(--text-color-2)
  opacity: 0.75
  cursor: default
  pointer-events: none

  img
    opacity: 0.75
