@use "assets/sass/abstracts/_functions.sass" as *

.App
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: var(--bg-color)
    min-height: 100vh

.container
    width: rem(760)
    background-color: var(--bg-color)


     